*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.navbar{
    height: 90px;
    width: 100%;
    background-color: #fff;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.nav1{
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    padding-left: 120px;
}
.nav2{
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 0px;
    gap: 50px;
}
.nav1 img{
    height: 40px;
}
.nav2 button{
    height: 40px;
    width: 160px;
    border-radius: 20px;
    /* border: none; */
    font-size: 15px;
    border-color: #6859EF;
}
.nav2 img{
    height: 20px;
    color: black;
}
.container{
    height: 550px;
    width: 100%;
    background-color: #6859EF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container h1{
    color: white;
    font-size: 65px;
}
.container p{
    color: white;
    font-size: 22px;
    padding-top: 20px;
}
input{
    height: 55px;
    width: 750px;
    font-size: 15px;
    padding-left: 70px;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    border: none;
}
.butt{
    width: 50%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.butt button{
    height: 30px;
    font-size: 15px;
    width: 110px;
    border-radius: 20px;
    border: none;
    background-color: #7CA4F8;
    color: white;
}
.container1{
    height: 400px;
    width: 100%;
    background-color: black;
    display: flex;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    animation: scroll 2s linear infinite;
}

.container1  img{
    height: 400px;
    width: 300px;
    border: none;
    gap: 0px;
}
.box{
    animation: scroll 2s linear infinite;
}
@keyframes scrollLeft {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}
.container2{
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.box1{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-size: 25px;
}
.box1 h2{
    color: #4ADE80;
    font-size: 50px;
}
.box2{
    height: 500px;
    width: 50%;
    background-color: #6859EF;
    margin-left: 100px;
    display: flex;
    gap: 100px;
}

.img1{
    height: 500px;
    width: 350px;
    background-color: #a9088e;
}
.img1 img{
    height: 50%;
    width: 100%;

}
.but1{
    height: 40px;
    width: 300px;
    margin-left: 15px;
    margin-top:px;
}
.img2{
    height: 500px;
    width: 350px;
    background-color: #f0a5e3;
}
.img2 img{
    height: 50%;
    width: 100%;
}


